# python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/

# env
.env

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.backup
*.tfplan

# ide
.vscode/
.idea/
.pytest_cache/
.ruff_cache/
ansible/.vault_pass
terraform/bootstrap/terraform.tfvars
terraform/*.tfvars
venv/
